@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
}

:root {
  background-color: var(--color-zinc-950);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
